*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
body{
    width: 80%;
    height: 100vh;
    margin: auto;
}

.header{
    height: 170px;
    width: 100%;
    background: #E9EEF6;
    padding-top: 50px;
    text-align: center;
  }
  
  .text{
    margin-top: 10px;
  }

.card-items{
    width: 100%;
    height: 62rem;
    margin: auto;
    display: grid;
    place-items: center;
}

.card-items hr {
    margin: 1rem auto;
    overflow-y: scroll;
}
.items-cotainer{
    width: 100%;
    height: 56rem;
}


.items-info{
    width: 100%;
    height: 6rem;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

.items-info .name .city .type .state .country{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
}


